[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mpris-server = "==0.4.2"
pyfoobeef = "*"
pyyaml = "*"
pygobject = "*"
pygobject-stubs = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
